         <%- include("../components/loadLibrary.ejs") -%>




           <title>I7ii.cf | Error </title>
    <link rel="icon" type="image/png" href="https://www.svgrepo.com/show/191995/magic-wand-halloween.svg" sizes="48x48">

           
  <div class="container-fluid" style="background-color: #2222">


      <center>

            <header>
              
      <h2 style="margin: 60">Error404</h2>

      <p class="ui-text-intro" style="color: #ffff;">Falied to redirect you to page or link that you want with status 404 which mean that you are in invalid page</p>

      <a class="btn btn-outline-danger" href="/home">Go back</a>
    </header>
        
      </center>  

      
    
        

  </div>
