




         <%- include("../components/loadLibrary.ejs") -%>

           <title>I7ii.cf | Home</title>

  <body>


         <%- include("../components/NavBar.ejs") -%>


           <style>

             .body{
               background-color: #cccc;
             }
           </style>
               <div class="container py-5" >



                 <% if(!token || !userProfile) {  %>

                    <h1>🕒 What are you waiting for? %> </h1>
        <p>Create an account and get access to our services features Create Manage disover and much more!</p>

                 <center>
                                    <button class="btn btn-success" onclick="location.href = '/login'"style="margin: 30px">Get Started!</button>

                 </center>
                   <% } else {%>
                 
  
                      <h1>🎉 Congratulation <%= userProfile.username %> </h1>
        <p>You have an active account right now! Click button bellow and get started!</p>

                 <center>
                                    <button class="btn btn-success" onclick="location.href = '/dashboard'"style="margin: 30px">Get Started!</button>

                 </center>

         

                     <%  } %>
       
    </div>
  

      <div class="col-md-4">
                <img src="https://www.svgrepo.com/show/191995/magic-wand-halloween.svg"  class="img-fluid position-fixed" style="bottom: 0; left: 0; width: 10%; height: auto;">
          </div>
           
           

           
           <style>


             
                      
             
             

           </style>

  </body>

    
