<%- include("../components/loadLibrary.ejs") -%>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>

	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
					</div>
					<div class="card shadow-lg">
						<div class="card-body p-5">
							<h1 class="fs-4 card-title fw-bold mb-4">Register</h1>
							<form id="registerForm" method="POST" class="needs-validation" novalidate="" autocomplete="off" action="/register">
								<div class="mb-3">
									<label class="mb-2 text-muted" for="name">Username</label>
									<input id="username" type="text" class="form-control" name="username" value="" required autofocus>
									<div class="invalid-feedback">
										Name is required	
									</div>
								</div>



<div class="mb-3">
  <label class="mb-2 text-muted" for="password">Password</label>
  <div class="input-group">
    <input id="password" type="password" class="form-control" name="password" required>
    <button id="generate-button" class="btn btn-outline-secondary" type="button">Generate</button>
  </div>
  <div class="invalid-feedback">
    Password is required
  </div>
</div>

								<p class="form-text text-muted mb-3">
									By registering you agree with our terms and condition.
								</p>

								<div class="align-items-center d-flex">

                  <button type="submit" id="register-btn" class="btn btn-primary ms-auto">
                    Register
                  </button>

								</div>
							</form>
						</div>
						<div class="card-footer py-3 border-0">
							<div class="text-center">
								Already have an account? <a href="/login" class="text-dark">Login</a>
							</div>
						</div>
					</div>
					<div class="text-center mt-5 text-muted">
						Copyright &copy; 2021-2023 &mdash; I7ii 
					</div>
				</div>
			</div>
		</div>
	</section>

<script>
$(document).ready(function() {
  const generateButton = $('#generate-button');
  const passwordInput = $('#password');

  generateButton.click(function(event) {
    event.preventDefault();

    // Disable button
    generateButton.prop('disabled', true);

    // Make API request
    axios.post('/api/generate-password')
      .then(response => {
        if (response.data && response.data.status == "SUCCESS" && response.data.content) {
          const data = response.data;
          passwordInput.prop('type', 'text');
          passwordInput.val(data.content);
        }
      })
      .catch(error => {
        console.error(error);
      })
      .finally(() => {
        // Re-enable button
        generateButton.prop('disabled', false);
      });
  });
});

</script>


<script>




$(document).ready(function() {
  // Handle registration form submission
  $('#registerForm').submit(function(event) {
    // Prevent default form submission
    event.preventDefault();

    // Disable submit button
    $('#register-btn').prop('disabled', true);

    // Get form data
    const formData = {
      username: $('#registerForm input[name="username"]').val(),
      password: $('#registerForm input[name="password"]').val()
    };

    // Make axios POST request to server
    axios.post('/register', formData)
      .then(function(response) {
        let data = response.data;
        if (data.status === 'SUCCESS') {
          // Handle success response
          $('#registerForm').append('<div class="alert alert-success mt-3"> ' + data.content + '</div>');
          // Redirect to login page after successful registration
          setTimeout(() => {
            window.location.href = "/login?jwt=" + data.jwt;
          }, 2000);
          
          console.log(data)
          
        } else {
          // Handle error response
          $('#registerForm').append('<div class="alert alert-danger mt-3"> ' + data.content + '</div>');
                    console.log(data)

        }
      })
      .catch(function(error) {
        // Handle error response
        $('#registerForm').append('<div class="alert alert-warning mt-3"> ' + error.message + '</div>');
      })
      .finally(function() {
        // Re-enable submit button
        $('#register-btn').prop('disabled', false);
      });
  });
});


</script>

</body>

</html>
