<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VaultBot Privacy Policy</title>
  
           <%- include("../components/loadLibrary.ejs") -%>


</head>
<body>
  <div class="container">
    <h1 class="my-4">VaultBot Privacy Policy</h1>
    <p>VaultBot respects your privacy and is committed to protecting your personal data. This privacy policy will inform you about how we collect and use your personal data when you use our Discord bot.</p>
    <h2 class="my-4">Collection of Data</h2>
    <p>VaultBot collects and stores data related to your Discord server, including roles, permissions, and channel information. This data is collected in order to provide backup and restore functionality for your server, and to help maintain server organization.</p>
    <h2 class="my-4">Use of Data</h2>
    <p>The data collected by VaultBot is used solely for the purpose of providing backup and restore functionality for your Discord server. This data is never shared with any third parties, and is only accessible by authorized VaultBot users who are responsible for maintaining and operating the bot.</p>
    <h2 class="my-4">Security</h2>
    <p>VaultBot takes the security of your personal data seriously and employs reasonable measures to protect it. However, no method of transmission over the Internet or method of electronic storage is 100% secure. Therefore, while we strive to use commercially acceptable means to protect your personal data, we cannot guarantee its absolute security.</p>
    <h2 class="my-4">Changes to Privacy Policy</h2>
    <p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.</p>
  </div>
</body>
</html>
