<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VaultBot Terms of Service</title>
             <%- include("../components/loadLibrary.ejs") -%>

</head>
<body>
  <div class="container">
    <h1 class="my-4">VaultBot Terms of Service</h1>
    <p>By using VaultBot, you agree to these terms and conditions. If you do not agree to these terms and conditions, you must discontinue using the service.</p>
    <h2 class="my-4">1. Description of Service</h2>
    <p>VaultBot is a Discord bot designed to provide backup and restore functionality for your Discord server, as well as assist with server organization. By using VaultBot, you understand and acknowledge that the bot collects and stores data related to your Discord server, including roles, permissions, and channel information.</p>
    <h2 class="my-4">2. Use of Service</h2>
    <p>By using VaultBot, you agree to use the service only for its intended purpose, and to comply with all applicable laws and regulations. You also agree not to misuse the service, including but not limited to attempting to access or modify the bot's source code, interfering with the bot's operation, or attempting to use the bot to perform malicious actions.</p>
    <h2 class="my-4">3. Limitation of Liability</h2>
    <p>VaultBot is provided on an "as is" and "as available" basis. We make no warranties, express or implied, regarding the service or its availability, and we disclaim any and all liability for any damages or loss arising from your use of the service.</p>
    <h2 class="my-4">4. Changes to Terms of Service</h2>
    <p>We reserve the right to modify these terms of service at any time, so please review them frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to these terms, we will notify you here that it has been updated, so that you are aware of what terms govern your use of the service.</p>
  </div>
</body>
</html>

