         <%- include("../components/loadLibrary.ejs") -%>




           <title>I7ii.cf | We caring about security </title>
    <link rel="icon" type="image/png" href="https://www.svgrepo.com/show/191995/magic-wand-halloween.svg" sizes="48x48">

           
  <div class="container-fluid" style="background-color: #2222">


      <center>

              
      <h2 style="margin: 60">⚠️ WARNING (Maliclous)</h2>

      <p class="ui-text-intro" style="color: #44444;">Logging IP addresses and locations can potentially reveal sensitive information about users such as geographic location and identity, leaving them vulnerable to targeted attacks, privacy breaches and other security risks (<%= urlDxP.url %>)</p>

                    <button class="btn btn-outline-success" onclick="location.href = '/home' ">Protect Me!</button>

              <button class="btn btn-outline-danger" onclick="location.href = '<%= urlDxP.url %>' ">Process!</button>
              
        
      </center>  

      
    
        

  </div>
