 <footer role="contentinfo" class="ui-section-footer">
      <div class="ui-layout-container">
        <div class="ui-section-footer__layout ui-layout-flex">
          <!-- COPYRIGHT -->
          <center>
          <p class="ui-section-footer--copyright ui-text-note"><small>&copy; 2022 I7ii. All rights reserved. Designed by <a class="zlokilink" href="https://www.youtube.com/c/ZLOKI/videos" style="color:white">Zloki</a></small></p>
        </center>
          <!-- MENU -->
          <a href="https://www.paypal.me/mohhmedkurdi" role="link" aria-label="#">
            <img src="https://cdn.discordapp.com/attachments/737465576703787079/1026972872213794997/174861.png" alt="" herf="#" width="16" height="16">
          </a>
          <a href="https://www.instagram.com/mr_meow6/" role="link" aria-label="#">
            <img src="https://cdn.discordapp.com/attachments/737465576703787079/1026972428338987109/174855.png" alt="" herf="#" width="16" height="16">
          </a>
          <a href="https://github.com/z8sk" role="link" aria-label="#">
            <img src="https://cdn.discordapp.com/attachments/737465576703787079/1026972191566340207/733553.png" alt="" herf="#" width="16" height="16">
          </a>
        </div>
      </div>
    </footer>
