<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="zloki">
    <meta name="description" content="A simple technology for make links or urls shortest">
    <meta name="referrer" content="unsafe-url">
    <meta name="robots" content="index, follow">

    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="me" href="#">
    <link rel="canonical" href="#">
    <link rel="icon" type="image/png" href="https://www.svgrepo.com/show/191995/magic-wand-halloween.svg" sizes="48x48">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    
  </head>


<center>
     
     

  <body>


  <div class="fixed-bottom text-right pr-3">
    <a class="btn" id="darkModeBtn">
        <i class="fas fa-sun"></i>
    </a>
</div>

    
<script>
    var darkModeBtn = document.getElementById("darkModeBtn");
    darkModeBtn.addEventListener("click", function() {
        document.body.classList.toggle("dark-mode");
    });
</script>

    
      <style>

        * {
                   transition: 0.90s;
             }

             
             .dark-mode {
    background-color: #333333;
    transition: 0.60s;
}

             #darkModeBtn {
    transition: color 0.6s ease-in-out;
}



             .dark-mode * {
    color: #ffff !important;
    transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}

    
  </style>
    
    
  </body>
   
